# Default ignored files
/shelf/
/workspace.xml/
C:\Users\Frederico\Desktop\Frederico Gago\Confere\Programas\mail_project\excel_conference\Controle de Saft 2021 - Experiencia.xlsx/
C:\Users\Frederico\Desktop\Frederico Gago\Confere\Programas\mail_project\word_template\Populated_template_1.docx/
C:\Users\Frederico\Desktop\Frederico Gago\Confere\Programas\mail_project\Info\excel_extract_info_ex_output.txt
